/* Styles des divisions principales de la page */
@import "compass/css3";

body{
  background-color: #00A0FF;
  background-image: url(imgs/FONDGLOBAL.jpg);
  background-repeat: repeat-x;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg');
  background-size: cover;
  overflow: auto;
  margin:0% 0%;
  padding : 0.6em;
  font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size:0.8em;
  color:#F0F8FF;
}
#page {
  background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0,0,0,0.6) 100%);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transform: scale(1);
  width : 85%;
  margin : auto ;
  border : 0.2em solid black;
  padding : 0.1em;
}
#entete{
   color : black;
    border: solid 0.1em #FFF;
    height: 200px;
    margin-bottom: 2em;
   
}
#entete #logoGSB {
    float : left;
    width : 225px;
    height : 200px;
    
}
#entete h1 {
    margin : 1.1em;
    margin-left : 6em;
    font-size : xx-large;
    text-align : center;
    
}
input, button {
  outline: none;
  border: none;
}
#pied{
        clear : both;
	border : solid 0.2em #980101;
	margin-left : 18%;
	margin-top : 1em;
	padding:0.4em;
	padding: 0.2em;
	border-collapse: separate;
}
#menuGauche {
	padding : 1em;
	background-color : rgba(57,112,204,0.7);
	color : #FFF;
	float : left;
	width : 15%;
        height : 100%;
        min-height: 27em;
        
}
#menuGauche h1{
    margin: inherit;
}
.nomEmploye{
    margin-bottom: 10px !important;
}

.contenu{
	border: none;
	background-color: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0,0,0,0.6) 100%);
	border-left :  groove 0.8em #980101;
        margin-top : 1.2em;
	margin-left: 18%;
/* permet de fixer une hauteur mini sur les navigateurs modernes */
  min-height:27em;
/* pour obtenir le m�me effet sur IE, sachant que si le contenu d�passe, il
"poussera" la hauteur en ne respectant pas la norme. On se joue de ses lacunes
*/
  height:auto;
}
.contenu_interne {
    padding-left: 2.5em;
    padding-right: 2.5em;
}
.contenu_adm{
    margin-left: 18%;

/* pour r�tablir le mauvais effet sur les nav. modernes */
html>body .contenu{
  height:auto;
  min-height:auto;
}

/* style � appliquer � la balise ul d'identifiant menulist */
ul#menuList{
    list-style:none;
    margin:0px;
    padding:0px;
    width:98%;
    font-size: 1em;
}

/* style � appliquer aux �l�ments de la balise ul d'identifiant menulist */
ul#menuList li {
    position:relative;
    margin:0px;
    padding:0px;
}

/* apparences des liens dans listes et sous-listes non num�rot�es */
ul#menuList a {
    color:rgb(0,85,227);
    display:block;
    text-decoration:none;
    width:100%;
}
ul#menuList a:hover {
    background: rgb(0,85,227);
    color: white;
}

#entete #logoGSB {
  float : left;
  width : 238px;
  height : 152px;
}

#entete h1 {
  margin : 1em;
  margin-left:6em;
  font-size : x-large;
  text-align:center;
}

.contenu pre {
  width:95%;
  overflow : scroll;
}
.contenu h2 {
    background-color: rgba(57,112,204,0.6);
    font-size: large;
    font-weight: bold;
    text-align : left;
    color: #FFF;
    text-decoration: none;
    padding : 0.6em;
    margin:0;
    margin-bottom:0.5em;
}
.contenu h3 {
    font-size: 1.3em;
    color: rgb(57,112,204);
    text-decoration: underline;
}

.logoValidW3c {
  display: inline;
}
#libValidW3c{
  display : inline;
  vertical-align:middle;
}

/* Style des formulaires */
.corpsForm {
  border : solid 0.1em #000;
  border-bottom-width:1px;
  margin-bottom : 0em;
  width : 95%;
}
.piedForm {
  text-align:right ;
  margin-top: 5px;
}
fieldset {
    padding: 1em;
}
form {
  margin-bottom:1em;  
}
.corpsForm legend {
  font-weight:bold;
  font-size:1.2em;
}
.corpsForm label{
  float: left;
  text-align:right;
  width:33%;
	margin: 0;
	padding: 0 .5em 0 0;
	line-height: 1.8;	
}
label{
    display: block;
    margin-bottom: 5px;
}
input, button, textarea, select{
  font-family:"Trebuchet MS", sans-serif;
  font-size : 1em;
}
button{
  height : 30px;
  text-align:center;
  vertical-align:middle;
}
input:hover, textarea:hover, select:hover{
  background-color : #FAFAE6;
  cursor : pointer;
}

/*  Le texte des messages de réussite est de couleur vert foncé sur fond vert clair et de taille de caractères légèrement supérieure à la normale */
.reussite{
    background-color:rgba(164,212,143,0.7);
    color:rgb(99,127,86);
    font-size:1.1em;
    width:95%;
}

/*  Le texte des messages d'erreur est de couleur rose sur fond ocre et de 
taille de caract�res l�g�rement sup�rieure � la normale */
.erreur{ 
   background-color:rgb(237,210,229);
   color:rgb(203,28,128);
   font-size:0.9em;
}
.centre {
  text-align:center;
}

.info {
   background-color:rgb(178,207,81);
   color : white;
   font-size:1.1em;
   width : 95%  
}

.encadre {
  border : solid 0.1em #000;
  width: 98%;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
/* Style pour les liens de la page principale */
.contenu .corpsTexte {
  width:80%;
  font-size:1.2em;
}

/* Style pour les liens de la page principale */
.contenu a {
   color:gray;
   text-decoration:none;
}
.contenu a:hover {
   text-decoration:underline;
   background-color : #D9BB7A;
   font-size : 1em;
}

/* Style pour les parties importantes de la page principale */
.contenu strong {
  font-weight:bold;
}

/* Styles pour les tableaux de la page principale */
.contenu table {
   background-color:#FFF;
   border : 0.1em solid #777777;
   color:#F0F8FF;
   margin-right : auto ;
   border-collapse : collapse;
}

/* Style pour les lignes d'en-t�te des tableaux */
.contenu th {  
   text-align:center;
   font-weight:bold;  
} 

.contenu th,.contenu td {
   border :1px solid #777777;
}

.contenu h3 {
    font-size : 1.2em;
}
table.listeLegere {
/*  width:80%;*/
    margin-bottom : 0.5em;
    font-size: 1em !important;
    margin: auto;
    color:#F0F8FF;
}
.listeLegereNonCentree {
    margin: inherit !important;
}

/* Tableaux quadrill�s utilis�s pour l'affichage de listes avec contenu l�ger*/ 
table.listeLegere th, table.listeLegere td {
  padding:0.2em;
  vertical-align : top;
  color:#F0F8FF;
  
}

table.listeLegere caption {
  font-size : 1.1em;
  text-align : left;
  margin-bottom : 0.3em;
}
table.listeLegere td {
  vertical-align:top;
  font-weight:normal;
}
table.listeLegere th.eltForfait{
  color:black;
}
table.listeLegere th.date, table.listeLegere th.montant{
  width:15%;
  color:black;
}
table.listeLegere th.libelle{
  width:70%;
  color:black;
}
.calculIntermediaire{
    margin-left: 10px;
    border: 1px solid #000;
    width: 50px;
    text-align: right;
    padding-right: 5px;
    float: right;
    background: rgba(0,0,0,0.2);
}

.calculIntermediaireTotal{
    margin-left: 10px;
    padding: 5px;
    border: 2px solid #000;
    width: 150px;
    text-align: right;
    padding-right: 5px;
    background: rgba(0,0,0,0.2);
}

.calculIntermediaireTotalFHF{
    background: rgba(0,0,0,0.2);
}

#totalFiche{
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background: rgba(0,0,0,0.2);
    border: 1px solid #777777;
    margin-top: 1.5em;
}

.message_info{
    margin-bottom: 15px;
    font-style: italic;
}

#form_actionFinale button{
    width: 100%;
    margin-top: 0.5em;
}

